@model string

<div class="page-container-inner">
    <div class="col-md-6 col-lg-5">
        <div class="thank-you-content">
            <h2>
                @HtmlLocalizer["Thank You!"]</h2>

            <p>@HtmlLocalizer["Your order was successfully processed. We will pack your items carefully and ship them to you right away."]</p>
            <p>@HtmlLocalizer["If you have any questions or suggestions regarding the order process, call us at (+1) 773-740-4882."]</p>
        </div>
    </div>
    <div class="clear"></div>
</div>