@using DancingGoat.Models

@model CategoryPageViewModel

<div class="product-category">
    <h1>@Model.CategoryName</h1>
    <div class="col-md-8 col-lg-9 product-list">
        @foreach (var product in Model.Products)
        {
            <partial name="~/Views/Shared/DisplayTemplates/_ProductListItemView.cshtml" model="product" />
        }
    </div>
</div>