[submodule "submodules/xperience-by-kentico-ecommerce-common"]
	path = submodules/xperience-by-kentico-ecommerce-common
	url = https://github.com/Kentico/xperience-by-kentico-ecommerce-common.git
	branch = main
